<!-- Created 2/27/2019 by Jack Dubbs -->
<div class="content">
  <table id="publication_table">
    <tr>
      <th class="type">Publications</th><th class="type"></th>
    </tr>
      <tr class="description">
        <th>Info</th>
        <th>Link</th>
      </tr>
      <% data.pub.lications.publications.each do |item| %>
        <tr class="details">
        <% item.each_with_index do |info,i| %>
          <% if i == 0%>
            <td class="origin"> <%= info %> </td>
            <% if item.length == 1 %>
              <td class="link"></td>
            <% end %>
          <% elsif i == 1%>
            <td class="link"> <%= link_to('Click Me',info,:class => 'link')%> </td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
  </table>
</div>
