---
title: "Background"
---

<!-- File created by Andrew Myers 2/27/2019 -->

<div class="intro">
    <p>
    <img src="../images/davis.jpg" height="155px" border-"1px">
    </p>
    <h1> Background </h1>
    <h1> Extra lines to </h1>
    <h1> Take space lol </h1>
</div>

<div class="content">

    <h2 class="background">Appointments</h2>
    <%= partial "partials/appointments"%>
    <br>
    <h2 class="background">Education</h2>
    <%= partial "partials/education"%>

</div>
