---
title: "Contact"
---
<%# File Created by Andrew Myers 2/25/2018 %>

<div class="intro">
  <h1>Contact</h1>
</div>
<div class="content">
  <div class="row">
    <div class="column">
      <h2>Jim Davis</h2>
      <p>491 Dreese Laboratories
        2015 Neil Avenue<br />
        <a href="http://www.osu.edu">Ohio State University</a><br />
        Columbus, OH 43210<br />
      </p>
      <p>
        Office: 614-292-1553 (Lab: 614-292-5137)<br />
        Fax: 614-292-2911<br />
        jwdaviscse.ohio-state.edu
        <br />
      </p>

      <br>

      <h2>Email</h2>
      <div class="container">
        <form action="#">

          <label for="fname">Name</label>
          <input type="text" id="name" name="name" placeholder="Your name...">

          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email...">

          <label for="subject">Message</label>
          <textarea id="message" name="message" placeholder="Your message..." style="height:200px"></textarea>

          <input type="submit" value="Submit">

        </form>
      </div>


    </div>
    <div class="column">
      <h2>Directions</h2>
      <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=dreese%20lab&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>
</div>
