---
title: "People and Courses"
---
<!-- # Created 2/26/2019 by Silvana Garcia, Edited 2/27/2019 (changed hello message) -->

<div class="intro">
  <p>
    <img src="../images/jameswdavis.jpg" height="155px" border="1px">
  </p>
  <p>
    <span class="greeting">Hi there!</span>
    These are the courses I have taught and the list of the people I've worked with.
    <br>
    Thank you so much for taking the time to get to know me and my work!
    <br><br>
    Cheers,
    <br>
    <span class="signature">James W. Davis</span>
  </p>
</div>

<%= partial "partials/people_course" %>

