---
title: "Secret"
---
<div style="background-color: black;color:blue;">
  We made a logo. Scroll down
  <iframe src="https://giphy.com/embed/5QYcc5OFJlHhK" style="position:absolute; top:20px; border:2px solid green;" width="240" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/Nt8Q1I8rlfzZS" style="border:2px solid red;" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/XWFwd3Noo36rS" width="560" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/tQ4IKlHmWzLtS" style="border:2px solid brown;" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p style="background-color:black;color:white;padding:0;float:right; font-size:4em;">
    Creators of this website: Eric Bash, Andrew Myers, Kavin Garcia, Kavin Kaviarasan, 
  </p>
  <p style="background-color:black;color:white;padding:0; font-size:4px;"> Jack Dubbs helped a bit
    </p>
  <p style="background-color:black;color:white;padding:0;">Look at this logo we made with svg!</p>
  <img src="../images/logo.svg" width="600" style="background-color:#0099ff;">
  <br>
<iframe src="https://giphy.com/embed/FmLecXUlTqZ6o" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/yppVk38PxQ6CA" style="border:2px solid blue;" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/EUxkZPmTfB7Fe" style="border:2px solid white;" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/3ELtfmA4Apkju" width="100" height="333" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/1RkDDoIVs3ntm" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <iframe src="https://giphy.com/embed/l3vReTmBHnPsC4oHS" style="float:left;"width="1000" height="1000" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p style="z-index:10000;float:left;color:yellow;">oh no, it's going off the page......oh no.....</p>
</div>

<script>
window.alert("You have been infected with dank memes");
</script>
